* {
    margin: 0;
    padding: 0;
}

.container {
    border: 2px solid red;
    width: 70%;
    margin: 20px auto;
    display: flex;
}

.col-1 {
    border: 2px solid orange;
    width: 50%;
}

.col-2 {
    border: 2px solid black;
    width: 50%;
}

/* .form-row {

}

.cheek {
    display: flex;
    justify-content: space-between;
}

.btn {
    padding: 12px;
    width: 100%;
    cursor: pointer;
} */

